name: Android CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  static-analysis:
    name: Run Static Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Run Android Lint
        run: ./gradlew lintDebug

  build:
    name: Build Debug APK
    needs: static-analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode Google Services JSON
        env:
          GOOGLE_SERVICES_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: |
          APP_PATH="./app/google-services.json"
          echo "$GOOGLE_SERVICES_BASE64" | base64 -d > $APP_PATH
          cp $APP_PATH ./google-services.json
          mkdir -p ./app/src/
          cp $APP_PATH ./app/src/google-services.json
          echo "Current directory: $(pwd)"
          echo "Searching for google-services.json:"
          find . -name "google-services.json"
      

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: chatroom-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
